<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <pipelines>
          <group groupName="WebDAV" name="WebDAV">
              <pipelines>
                  <supportWebDAVUrl>
                      <processor type="Sitecore.Support.Pipelines.WebDAV.Processors.DefaultSupportWebDAVUrlResolver, Sitecore.Support.336747" patch:instead="*[@type='Sitecore.Pipelines.WebDAV.Processors.DefaultSupportWebDAVUrlResolver, Sitecore.Kernel']" />
                  </supportWebDAVUrl>
              </pipelines>
          </group>
      </pipelines>
  </sitecore>
</configuration>